<%- partial('components/kira-image') %>
<div class="kira-post">
	<article>
		<%- partial('components/post-cover', { page: page, theme: theme }) %>
		<%- image_auto_lazyload(page.content) %>
	</article>
	<% if (theme.copyableCodeblock) { %>
		<script src="/js/kira-code-copy.js"></script>
	<% } %>
</div>
