<div class="kira-header">
    <a
        class="kira-drawer-button mdui-ripple"
        id="sidebar-toggle"
        title="导航栏"
    >
        <i class="kirafont icon-menu"></i>
    </a>
</div>
<div class="kira-header-placeholder"></div>